{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Password {% endblock %}
{% load static %}
{% block content %}
<!-- Css links -->
<link rel="stylesheet" href="{% static 'admin/css/admin-temp.css' %}">
<!-- End of css -->
<div class="outer_container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5 pt-5">
        <div class="contents w3-card">
          <div class="heading pt-1 w3-center">
            <h3> Change Password</h3>
          </div>
          <div class="pb-5 pr-5 pl-5">
              <form method="POST" class="form-group">
                {% csrf_token %}
                  {{ form| crispy }}
                  <div class="form-group mt-5">
                    <button class="btn button btn-block" type="submit">Change Password</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
