{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password reset complete {% endblock %}

{% block content %}
    <div class="container col-md-6 mt-5 offset-md-3 pt-5 pb-5">
        <div class="card mt-5">
            <div class="w3-card card-body">
                <h3 class="text-success text-center">Password reset complete.</h3>
                <p class="lead">
                    Your new password has been set. You can log in now on the <a href="{% url 'login' %}">login</a> page.
                </p>
                <a class="btn btn-outline-success btn-block btn-lg" role="button" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div><br><br><br>
{% endblock content %}
