{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Forgoten Password {% endblock %}
{% block content %}
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="contents">
            <div class="contents login-contents">
              <div class="heading pb-2 mb-3 w3-center">
                <h3> Forgot your Password?</h3>
              </div>
              <div class="login_form w3-card pb-3 pr-5 pl-5 pt-3">
                <p class="mt-3">
                  Enter your email address below, and we'll mail instructions for setting a new password.
                </p>
                  <form method="POST" class="form-group pt-5 ">
                    {% csrf_token %}
                      {{ form| crispy }}
                      <div class="form-group mt-5">
                        <button class="btn text-white btn-block" type="submit">Submit</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
