{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile update {% endblock %}
{% block content %}
        <div class="update-card w3-card col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <legend class="mb-4">{{ profile.user.first_name }} Profile</legend>
                  <img class="rounded-circle" src="{{ profile.profile_pic.url }}" alt="{{ profile.user.first_name }}">
                </div>
                <fieldset class="forms">
                  {{ user_form| crispy}}
                  {{ profile_form| crispy }}
                </fieldset>
                <div class="form-group mt-2">
                  <button class="btn btn-info btn-block" type="submit">Update</button>
                </div>
            </form>
        </div>
{% endblock content %}
