{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Update User {% endblock %}
{% block content %}
<div class="outer_container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="contents">
          <div class="heading pb-2 pt-1 mb-3 w3-center">
            <h3> UPDATE USER</h3>
          </div>
          <div class="login_form w3-card pb-1 pr-5 pl-5">
              <form method="POST" class="form-group pt-5 ">
                {% csrf_token %}
                  {{ form| crispy }}

                  <div class="form-group mt-5">
                    <button class="btn btn-block text-white" type="submit">Update</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
